.hello {
    color: red;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    border: 1px solid;
    border-radius: 10%;
}

.board {
    width: 240px;
    display: flex;
    flex-wrap: wrap;
}